<a href="https://colab.research.google.com/github/SManojna/big_data_1/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Input the string “Python” as a list of characters from console, delete at least 2
# characters, reversetheresultant string, and print it.
# Sample input:
# • python
# Sample output:
# • htyp

input_str = input("Enter a string : ")
char_list = list(input_str)
del char_list[4:6]
char_list.reverse()
result = ''.join(char_list)
print(result)

Enter a string : Python
htyP

In [3]:
#Take two numbers from user and perform at least 4 arithmetic operations on them.

num1 = float(input("Enter numebr 1: "))
num2 = float(input("Enter number 2: "))

addition = num1+num2
subtraction = num1-num2
division = num1/num2 if num2!=0 else "cannot divide by 0"
multiplication = num1*num2

print("sum", addition)
print("difference", subtraction)
print("division", division)
print("multiplication", multiplication)

Enter numebr 1: 3
Enter number 2: 2
sum 5.0
difference 1.0
division 1.5
multiplication 6.0

In [4]:
#Write a program that accepts a sentence and replace each occurrence of ‘python’ with 'pythons'

sentence = input("Enter a sentence : ")
modified_sentence = sentence.replace('python', 'pythons')
print(modified_sentence)

Enter a sentence : I  love playing with python
I  love playing with pythons

In [5]:
score = float(input("Enter your class score : "))
if score >= 90 and score <= 100:
    grade = 'A'
elif score >= 80 and score < 90:
    grade = 'B'
elif score >= 70 and score < 80:
    grade = 'C'
elif score >= 60 and score < 70:
    grade = 'D'
elif score >= 0 and score < 60:
    grade = 'F'
else:
    grade = 'Invalid score'
print(grade)

Enter your class score : 91
A