<a href="https://colab.research.google.com/github/SManojna/big_data_1/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 5 A Input the string “Python” as a list of characters from console, delete at least 2
# characters, reversetheresultant string, and print it.
# Sample input:
# • python
# Sample output:
# • htyp

input_str = input("Enter a string : ")
char_list = list(input_str)
del char_list[4:6]
char_list.reverse()
result = ''.join(char_list)
print(result)

Enter a string : Python
htyP

In [ ]:
#5 B Take two numbers from user and perform at least 4 arithmetic operations on them.

num1 = float(input("Enter numebr 1: "))
num2 = float(input("Enter number 2: "))

addition = num1+num2
subtraction = num1-num2
division = num1/num2 if num2!=0 else "cannot divide by 0"
multiplication = num1*num2

print("sum", addition)
print("difference", subtraction)
print("division", division)
print("multiplication", multiplication)

Enter numebr 1: 3
Enter number 2: 2
sum 5.0
difference 1.0
division 1.5
multiplication 6.0

In [ ]:
#6. Write a program that accepts a sentence and replace each occurrence of ‘python’ with 'pythons'

sentence = input("Enter a sentence : ")
modified_sentence = sentence.replace('python', 'pythons')
print(modified_sentence)

Enter a sentence : I  love playing with python
I  love playing with pythons

In [ ]:
#7
score = float(input("Enter your class score : "))
if score >= 90 and score <= 100:
    grade = 'A'
elif score >= 80 and score < 90:
    grade = 'B'
elif score >= 70 and score < 80:
    grade = 'C'
elif score >= 60 and score < 70:
    grade = 'D'
elif score >= 0 and score < 60:
    grade = 'F'
else:
    grade = 'Invalid score'
print(grade)

Enter your class score : 91
A

In [6]:
#8
x = [23, 'Python', 23.98]
types_list = [type(item) for item in x]
print(x)
print(types_list)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [7]:
#9
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
print("Length of IT_companies:", len(IT_companies))

IT_companies.add('Twitter')
print("IT_companies after adding Twitter:", IT_companies)

IT_companies.update(['Tesla', 'GE'])
print("IT_comapnies after updating with multiple companies", IT_companies)

IT_companies.remove('Oracle')
print("IT_companies after removing Oracle:", IT_companies)

A_union_B = A.union(B)
print("Union of A and B:", A_union_B)

A_intersection_B = A.intersection(B)
print("Intersection of A and B:", A_intersection_B)

is_subset = A.issubset(B)
print("Is A a subset of B?", is_subset)

are_disjoint = A.isdisjoint(B)
print("Are A and B disjoint?", are_disjoint)

A_with_B = A.union(B)
B_with_A = B.union(A)
print("A union B:", A_with_B)
print("B union A:", B_with_A)

symmetric_diff = A.symmetric_difference(B)
print("Symmetric difference between A and B:", symmetric_diff)

del IT_companies
del A
del B
print("Sets IT_companies, A, and B have been deleted")

age_set = set(age)
print("Original age list:", age)
print("Age set:", age_set)
print("Length of age list:", len(age))
print("Length of age set:", len(age_set))

Length of IT_companies: 7
IT_companies after adding Twitter: {'Apple', 'Oracle', 'Amazon', 'Twitter', 'Microsoft', 'IBM', 'Google', 'Facebook'}
IT_comapnies after updating with multiple companies {'Twitter', 'Google', 'Facebook', 'Oracle', 'Microsoft', 'Apple', 'GE', 'IBM', 'Tesla', 'Amazon'}
IT_companies after removing Oracle: {'Twitter', 'Google', 'Facebook', 'Microsoft', 'Apple', 'GE', 'IBM', 'Tesla', 'Amazon'}
Union of A and B: {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A and B: {19, 20, 22, 24, 25, 26}
Is A a subset of B? True
Are A and B disjoint? False
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
B union A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B: {27, 28}
Sets IT_companies, A, and B have been deleted
Original age list: [22, 19, 24, 25, 26, 24, 25, 24]
Age set: {19, 22, 24, 25, 26}
Length of age list: 8
Length of age set: 5